.signup {  
}

#top-toolbar {
    padding-top: 5%;
    .fa {
        margin-top: 10px;
    }
    .fa:hover {
        cursor: pointer;
    }
}

.input-row {
    margin-top: 2.5%;
}

#map-link {
    color: white;
    text-decoration: underline;

    &:hover {
        font-style: bold;
    }
}