$orange: rgb(247, 111, 64);

html {
    overflow-x: hidden;
}

.hover-select {
    &:hover {
        cursor: pointer;
    } 
 }
 

.no-hover {
    &:hover {
        cursor: default !important;
    } 
 }
   

 #root,
 #root > div,
 #root > div > div {
    height: 100%;
    min-height: 100vh !important;
 }