#storeMenu {
    color: black;
    max-width: 95%;

    .rt-td:last-child {
        text-align: center;
    } 

    .hidden {
        display: none;
    }

    .modal-title {
        width: 100%;
    }

    .card-title-wrapper {
        padding: 2%;
    }
    
    .media-body {
        padding-left: 2%;
    }

    .modal-body,
    .modal-title,
    .modal-footer,
    .modal-content {
        background-color: #3d5e4c; 
        color: white;
    }

    .card-title-wrapper {
        background-color: white; 
        color: black; 
    }
    .card-title {
        font-weight: bold;
    }

    .card-actions-wrapper {
        padding: 1% 0% 0% 1%;
    }

    .card-metadata-wrapper {
        padding: 1% 1% 0% 1%;
    } 

    .card-item {
        margin-bottom: 2.5%;
    }

    // Small devices (landscape phones, 576px and up)
    @media (max-width: 576px) { 
        #closeBtn { font-size: 12px; }
        .modal-title { font-size: 14px; }
        .card-title { font-size: 12px; }
        .card-subtitle,
        .card-metadata-wrapper,
        .card-actions-wrapper { font-size: 10px; }
        .productImg { width: 75px; }
    }

    @media (min-width: 576px) { 
        #closeBtn { font-size: 12px; }
        .modal-title { font-size: 14px; }
        .card-title { font-size: 12px; }
        .card-subtitle,
        .card-metadata-wrapper,
        .card-actions-wrapper { font-size: 10px; }
        .productImg { width: 75px; }
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { 
        #closeBtn { font-size: 12px; }
        .modal-title { font-size: 16px; }
        .card-title { font-size: 14px; }
        .card-subtitle,
        .card-metadata-wrapper,
        .card-actions-wrapper { font-size: 12px; }
        .productImg { width: 75px; }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { 
        #closeBtn { font-size: 12px; }
        .modal-title { font-size: 18px; }
        .card-title { font-size: 16px; }
        .card-subtitle,
        .card-metadata-wrapper,
        .card-actions-wrapper { font-size: 14px; }
        .productImg { width: 100px; }
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { 
        #closeBtn { font-size: 12px; }
        .modal-title { font-size: 20px; }
        .card-title { font-size: 18px; }
        .card-subtitle,
        .card-metadata-wrapper,
        .card-actions-wrapper { font-size: 16px; }
        .productImg { width: 125px; }
    }
}

#closeBtn {
    &:hover {
        cursor: pointer;
    }
}
#menuBtn {
    margin-left: 17%;
    margin-top: 15px;
    position: fixed;
    top: 0;
    left: 0;
}  